.AdviceCardList-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
}

.background-yellow {
    width: 100%;
    background-size: cover ;
    background-image: linear-gradient(0deg, rgba(249, 181, 19, 0.74), rgba(249, 181, 19, 0.74)), url(../../assets/pictures/joao-ferrao-4YzrcDNcRVg-unsplash.jpg);
}

.background-blue {
    width: 100%;
    background-size: cover;
    background-position:center;
    background-image: linear-gradient(0deg, rgba(9, 48, 70, 0.6), rgba(9, 48, 70, 0.6)), url(../../assets/pictures/ryan-ancill-aJYO8JmVodY-unsplash.jpg);
}

.background-yellow h3 {
    color: var(--main-color-dark-background);
}

.background-yellow li  {
    color: var(--main-color-dark-text);
}

.background-yellow .dots-paragraph  {
    color: var(--main-color-dark-text);
}

.background-blue h3 {
    color: var(--main-color-light-background);
}

.background-blue li {
    color: var(--main-color-lighter-text);
}

.background-blue .dots-paragraph  {
    color: var(--main-color-lighter-text);
}
