.UserAdminContainer{
    max-width: 100%;
    .UserTable{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .UserTable td{
        padding: 1px;
    }

    @media only screen and (min-width: 391px) and (max-width: 768px) {

    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      
    }

    @media screen and (min-width: 1025px) {
        .UserTable{
            padding: 5px;
        }
    }
}