.UserActionsEventCard{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--main-color-general-background);
    height: 320px;
    align-items: center;
    text-align: center;
    border: 10px solid var(--main-color-light-background);
    justify-content: space-between;
    margin-bottom: 30px;

    .card-title{
        margin-top: 20px;
        font-weight: 600;
    }

    .event-container{
        border: 2px solid var(--sec-color-dark-text);
        padding: 15px;
    }

    .event-title{
        font-weight: 500;
    }

    .event-type{
        font-weight: 300;
        font-style: italic;
    }

    .place{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 390px) {
    .UserActionsEventCard{
        width: 250px;
        height: 250px;
        border: 10px solid var(--main-color-light-background);
        box-sizing: border-box;

        .card-title{
            font-weight: bolder;
            font-size: 20px;
            margin: 10px;
        }
}
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .UserActionEventCard{
        min-width: 250px;
        max-width: 320px;
        height: max-content;
        min-height: 250px;
        border: 10px solid var(--main-color-light-background);
        box-sizing: border-box;

        .card-title{
            font-weight: bolder;
            font-size: 20px;
            margin: 25px;
        }



}
}