.UserActionsList{
    display:flex;
    width: 70%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    top: 200px;
}

/* @media screen and (max-width: 390px) {
    .UserActionsList{
        flex-direction: column;
        padding-top: 80px ;
        margin-bottom: 40px;
    
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .UserActionsList{
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .UserActionsList{
        flex-wrap: wrap;
        justify-content: center;
        
    }
} */