.UserActionsButtonCard{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--main-color-general-background);
    height: 320px;
    align-items: center;
    text-align: center;
    border: 10px solid var(--main-color-light-background);
    margin-bottom: 30px;

    .card-title{
        margin-top: 20px;
        font-weight: 600;
    }

    .buttonCard-logo-block{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card-result{
        font-size: 15px;
        font-weight: 500;
    }

    .card-description{
        font-weight: 300;  
        margin-top: 20px;
    }

    .card-button{
        background-color: var(--main-color-dark-button);
        color: var(--main-color-lighter-text);
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 117px;
        height: 47px;
    }
}

@media screen and (max-width: 390px) {
    .UserActionsButtonCard{
        justify-content: space-evenly;

        width: 250px;
        height: 250px;
        border: 10px solid var(--main-color-light-background);
        box-sizing: border-box;

        .card-title{
            font-weight: bolder;
            font-size: 20px;
            margin: 10px;
        }

        .buttonCard-logo-block{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        .card-result{
            font-size: 15px;
            font-weight: bolder;
            margin-top: 15px;
        }
    
        .card-description{
            font-weight: bolder;
            margin: 10px;
            font-size: 12px;
        }
    
        .card-button{
            background-color: var(--main-color-dark-button);
            color: var(--main-color-lighter-text);
            font-weight: bolder;
            margin-top: 0;
            width: 70px;
            height: 25px;
        }
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .UserActionsButtonCard{
        justify-content: space-evenly;
        min-width: 250px;
        max-width: 320px;
        height: max-content;
        min-height: 290px;
        border: 10px solid var(--main-color-light-background);
        box-sizing: border-box;

        .card-title{
            font-weight: bolder;
            font-size: 20px;
            margin: 25px;
        }

        .buttonCard-logo-block{
            margin-top: 10px;
            margin-bottom: 15px;
        }
    
        .card-result{
            font-size: 15px;
            font-weight: bolder;
            margin-top: 20px;
        }
    
        .card-description{
            font-weight: bolder;
            margin: 15px;
            font-size: 12px;
        }
    
        .card-button{
            background-color: var(--main-color-dark-button);
            color: var(--main-color-lighter-text);
            font-weight: bolder;
            margin-top: 0;
            width: 70px;
            height: 25px;
        }
    }
}