.OpinionAdminContainer{
    width: 100%;

    .opinionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .opinionAuthor{
        width: 100px;
        font-size: 12px;
        text-align: left
    }

    .opinionDetail{
        width: 60%;
        margin: 10px;
        font-size: 12px;
    }

    .opinionIsValid{
        width: 100px;
        margin: 10px;
    }

    .opinionIsValidButton{
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 2px;
        width: 90px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
    }

    .opinionDeleteButton{
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        border: solid 1px var(--main-color-light-title); 
        border-radius: 2px;
        padding: 2px;
        width: 90px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
    }

    .opinionIsValid {
        color: var(--text-color-ok);
    }

    @media only screen and (min-width: 391px) and (max-width: 719px) {

    }

    @media screen and (min-width: 720px) and (max-width: 820px) {
    
    }

    @media screen and (min-width: 821px) and (max-width: 1179px) {
    
    }

    @media screen and (min-width: 1180px) {
        width: 100%;

        .opinionContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .opinionAuthor{
            width: 100px;
            font-size: 12px;
            text-align: left
        }
    
        .opinionDetail{
            width: 60%;
            margin: 10px;
            font-size: 12px;
        }
    
        .opinionIsValid{
            width: 100px;
            margin: 10px;
        }
    
        .opinionIsValidButton{
            background-color: var(--main-color-light-title);
            color: var(--main-color-dark-background);
            border: solid 1px var(--main-color-light-title);
            border-radius: 2px;
            padding: 2px;
            width: 100px;
            font-size: 10px;
            margin: 10px;
            cursor: pointer;
        }
    
        .opinionDeleteButton{
            background-color: var(--main-color-dark-background);
            color: var(--main-color-light-title);
            border: solid 1px var(--main-color-light-title); 
            border-radius: 2px;
            padding: 2px;
            width: 100px;
            font-size: 10px;
            margin: 10px;
            cursor: pointer;
        }
    }
}