.OpinionAdmin{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);
    
    .OpinionAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
    }

    .OpinionAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .BlocHidden{
        display: none;
    }

    .opinionMenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .menuAuthor{
        width: 150px;
    }

    .menuDetail{
        width: 50%;
    }

    .menuIsValid{
        width: 100px;
    }

    .menuDelete{
        width: 100px;
    }
}