.AdminJobs{
    border-style: solid;
    position: relative;
    border-color: black;
    border-width: 1px;
    width: 80%;
    margin: 25px auto;
    color: var(--main-color-light-text);
    background-color: var(--main-color-dark-background);

    h2{
        color: var(--main-color-light-text);
        font-family: var(--title-font);
        padding-left: 10px;
        padding-top: 10px;
        font-size: 16px;
    }

    .JobAdminTitle{
        margin-bottom: 5px;
    }

    .CloseFolding
    {
        position: absolute;
        top :10px;
        font-size: 30px;
        font-weight: bolder;
        color : gray;
        right: 10px;
    }

    .JobAdminBloc{
        display: block;
    }
    
    .BlocHidden{
        display: none;
    }

    .NewJobContainer{
        display: flex;
        flex-direction: column;
        margin : 10px;
    }

    .LabelNewJobAdmin{
        margin: 10px 10px;
    }

    .DownloadFile{
        margin-top: 10px;
    }

    .AddJobBtn{
        width :100px;
        margin : 10px auto;
    }
}