//Desktop mode below

.EventAdmin{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);

    .EventAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
    }
 
    .EventAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
    
    .BlocHidden{
        display: none;
    }

    .ExistingEvent {
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .ExistingEventTitle {
        margin: 10px;
        text-align: center;
    }

    .duoEvent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .labelEvent{
        margin: 10px;
    }

    .CreateEvent {
        width: 40%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .CreateEventTitle {
        margin: 10px;
        text-align: center;
    }

    .EventAdminAddBtn{
        margin: 10px;
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 5px;
        width: 120px;
        height: 40px;
        font-size: 12px;
        cursor: pointer;
    }
}