.EventAdmin{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);
    padding: 15px;
    margin: 20px;
    position: relative;

    .EventAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
        top: 10px;
    }
 
    .EventAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }
    
    .BlocHidden{
        display: none;
    }

    .ExistingEvent {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ExistingEventTitle {
        margin: 10px;
        text-align: center;
    }

    .optionsEvent {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .duoEvent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .labelEvent{
        margin: 8px;
        width: auto;         
        font-size: 12px;
    }

    .CreateEvent {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .CreateEventTitle {
        margin: 10px;
        text-align: center;
    }

    .EventAdminAddBtn{
        margin: 10px;
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 5px;
        width: 120px;
        height: 40px;
        font-size: 12px;
        cursor: pointer;
    }

    @media only screen and (min-width: 390px) and (max-width: 719px) {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
        padding: 15px;
        margin: 20px;
        position: relative;

        .EventAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 5px;
            font-size: 16px;
        }
    
        .optionsEvent {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
        }
    
        .duoEvent {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }
    
        .labelEvent{
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 6px;
            margin-right: 5px;
            width: 134px;         
            font-size: 12px;
        }
    }

    @media only screen and (min-width: 720px) and (max-width: 820px) {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
        position: relative;

        .EventAdminAddBtn{
            width: 150px;
            height: 30px;
            padding: 3px;
            margin: 10px;
            background-color: var(--main-color-light-title);
            color: var(--main-color-dark-background);
            border: solid 1px var(--main-color-light-title);
            border-radius: 2px;
            font-size: 12px;
        }
    }

    @media only screen and (min-width: 821px) and (max-width: 1179px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
        position: relative;
    }

    @media screen and (min-width: 1180px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
    
        .EventAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }
    
        .CloseFolding {
            position: absolute;
            top :10px;
            font-size: 20px;
            font-weight: bolder;
            color : white;
            right: 10px;
        }
     
        .EventAdminBloc{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: left;
        }
        
        .BlocHidden{
            display: none;
        }
    
        .ExistingEvent {
            width: 60%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
        }
    
        .ExistingEventTitle {
            margin: 10px;
            text-align: center;
        }
    
        .duoEvent {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    
        .labelEvent{
            margin: 10px;
        }
    
        .CreateEvent {
            width: 40%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
        }
    
        .CreateEventTitle {
            margin: 10px;
            text-align: center;
        }
    
        .EventAdminAddBtn{
            margin: 10px;
            background-color: var(--main-color-light-title);
            color: var(--main-color-dark-background);
            border: solid 1px var(--main-color-light-title);
            border-radius: 2px;
            padding: 5px;
            width: 120px;
            height: 40px;
            font-size: 12px;
        }
    }
}