.ModalAdminDoc{
    position: relative;

    .ResourceModal {
        width: 450px;
        height: auto;
        padding: 10px;
    }

    .DivHeadDocModal{
        display: flex;
        flex-direction: column;
    }    

    .LabelDocContainer{
        margin: 10px;
    }

    .ThemeContainer{
        height: auto;
        width: 90%;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
    }

    .lineThemes {
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .LabelThemeContainer{
        margin: 5px;
        font-size: 9px;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .DivDocModalBtnForm{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .DocContainerModalSubmitBtn, .DeleteDocBtn {
        padding: 5px;
        background-color: white;
        box-shadow: 2px 2px 2px black;
    }

    .DeleteDocBtn{
        border-style: solid;
        border-width: 1px; 
    }

    .DeleteDocBtn:active{
        border-top-width: 3px;
        border-left-width: 3px;
        padding: 3px;
    }

    .BtnModalClose{
        position: absolute;
        top :8px;
        right: 10px;
        padding : 5px;
        border: none;
        background-color: none;
        width: 12px;
        font-size: 12px;
    }

    @media only screen and (min-width: 391px) and (max-width: 768px) {

    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .DivDocModalBtnForm{
            width: 60%;
        }
    }

    @media screen and (min-width: 1025px) {
        
        .ResourceModal {
            width: 400px;
            height: auto;
            padding: 10px;
        }

        .ModalAdminDoc {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .FormDocModal {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .ThemeContainer{
            width: 100%;
            height: auto;
            margin: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .lineThemes {
            width: 45%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }
    
        .LabelThemeContainer{
            margin: 5px;
            font-size: 9px;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .DivDocModalBtnForm{
            bottom: -20%;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }

        .ModifyDocBtn {
            margin-left: 15px;
            background-color: white;
            color: var(--main-color-dark-text);
            border: solid 1px var(--main-color-dark-background); 
            border-radius: 2px;
            padding: 5px;
            width: 100px;
            font-size: 14px;
        }

        .DeleteDocBtn {
            text-align: center;
            margin-left: 15px;
            background-color: var(--main-color-dark-background);
            color: white;
            border: solid 1px var(--main-color-dark-background);
            border-radius: 2px;
            box-shadow: none;
            padding: 5px;
            width: 100px;
            font-size: 14px;
        }
    }
}