.ResourceAdmin{  
    border-style: solid;
    position: relative;
    border-color: black;
    border-width: 1px;
    width: 80%;
    margin: 25px auto;
    color: var(--main-color-light-text);
    background-color: var(--main-color-dark-background);

    h2{
        color: var(--main-color-light-text);
        font-family: var(--title-font);
        padding-left: 10px;
        padding-top: 10px;
        font-size: 16px;
    }
    
    .navBarResourceList{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    .navBarResourceListItem{
        position: relative;
        cursor: pointer;
    }

    .ResourceUnderLine{
        color: var(--main-color-light-text);
    }

    .ResourceUnderLine::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--main-color-light-text);
        bottom: -10px;
        left: 0;
    }

    .CloseFolding
    {
        position: absolute;
        top :10px;
        font-size: 30px;
        font-weight: bolder;
        color : gray;
        right: 10px;
    }
 
    .ResourceAdminBloc{
        display: block;
    }
    
    .BlocHidden{
        display: none;
    }

    .ResourceAdminTitle{
        margin-bottom: 5px;;
    }

    @media only screen and (min-width: 391px) and (max-width: 768px) {

    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {

    }

    @media screen and (min-width: 1025px) {

    }
}