.ResourceAdmin{  
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);

    .ResourceAdminTitle {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .navBarResourceList{
        height: 40px;
        display: flex;
        flex-direction: row;        
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        margin: 15px;
    }

    .navBarResourceListItem{
        position: relative;
        cursor: pointer;
    }

    .ResourceUnderLine{
        color: var(--main-color-light-text);
    }

    .ResourceUnderLine::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: var(--main-color-light-text);
        bottom: -8px;
        left: 0;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
    }
 
    .ResourceAdminBloc{
        display: block;
    }
    
    .BlocHidden{
        display: none;
    }

    .ResourceAdminTitle{
        margin-bottom: 5px;;
    }
}