.ResourceAdminContainer{ 
    .AddDocTitle{
        margin: 10px;
    }

    .gIfIEN{
        max-width: 380px;
        min-width: 0;
        flex-direction: column;
    }

    .newDocMainContainer{
        display: flex;
        flex-direction: column;
        border: solid 1px rgba(255, 255, 255, 0.1);
    }

    .ThemeContainer{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .divThemeDoc {
        background-color: rgba(255, 255, 255, 0.1);
        margin: 5px;
        font-size: 12px;
    }

    .checkThemeNewDoc {
        margin: 5px;
        margin-left: 10px;
    }
    
    .LabelThemeNewDoc{
        margin : 5px 10px;
        display: inline-block;
    }

    .newDocThemeContainer{
        margin : 5px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        width: 100%;
    }

    .DownloadFile{
        width: 80%;
        margin: 0 auto;
    }

    .NewResourceDivContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .blocChoices {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .SubmitBtn{
        margin: 10px;
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 5px;
        width: 140px;
        height: 40px;
        font-size: 12px;
    }

    .LabelAdminContainer{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ListResourceDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }

    .ResourceCard{
        width: 120px;
        height: 40px;
        border : solid 1px rgba(255, 255, 255, 0.1);
        text-align: center;
        padding: 5px;
        margin: 10px;
        background-color: beige;
    }

    .ResourceModal{
        display: none;
    }

    .ShowResourceModal{
        position: absolute;
        bottom :0;
        width: 320px;
        max-height: 650px;
        background-color: var(--main-color-light-background);
        color : var(--sec-color-dark-text);
        display: block;
        z-index: 3; 
        padding: 10px;
        border : solid rgba(255, 255, 255, 0.1) 2px;
    }

    @media only screen and (min-width: 391px) and (max-width: 768px) {

    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .gIfIEN{
            max-width: 508px;
            flex-direction: row;
            min-width: 322px;
        }

        .ShowResourceModal{
            bottom : 0;
            width: 450px;
            height: 350px;
            padding: 10px;
        }
    }

    @media screen and (min-width: 1025px) {
        .gIfIEN{
            max-width: 508px;
            flex-direction: row;
            min-width: 322px;
        }
        
        .ShowResourceModal{
            bottom : -100%;
            width: 450px;
            max-height: 650px;
            padding: 10px;
        }

        .newDocMainContainer{
            flex-direction:column;
            align-items: center;
        }

        .AddDocTitle{
            margin: 0px;
            margin-bottom: 10px;
        }

        .newDocOptions {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }

        .publicDuo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }

        .publicSelect {
            margin-left: 5px;
        }

        .NewResourceDivContainer{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            margin: 20px;
        }
    

        .ThemeContainer{
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .divThemeDoc {
            background-color: rgba(255, 255, 255, 0.1);
            margin: 5px;
            font-size: 12px;
            width: 260px;
        }

        .newDocThemeContainer{
            margin : 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .SubmitBtn{
            border: solid 1px var(--main-color-light-title);
            border-radius: 2px;
            padding: 5px;
            width: 140px;
            height: 40px;
            font-size: 12px;
        }
    }
}