/* .home {
    position: absolute;
width: 1923px;
height: 469px;
left: -3px;
top: 106px;

background: linear-gradient(0deg, rgba(9, 48, 70, 0.5), rgba(9, 48, 70, 0.5)), url(redd-PTRzqc_h1r4-unsplash.jpg);
} */