.AdminRDV{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);
    padding: 15px;
    margin: 20px;
    position: relative;

    .RDVAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
        top: 10px;
    }

    .RDVAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .BlocHidden{
        display: none;
    }

    .titleRDV {
        width: 100%;
        margin-left: 0px;
        text-align: center;
        margin: 10px;
    }

    .RDVList{
        list-style-type: none;
        margin-left: 0px;
    }

    .RDVDuo {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding: 4px;
        margin-bottom: 2px;
        border: solid 2px rgba(255, 255, 255, 0.1);
        color: white;
    }

    .RDVcheck {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .validationRDVCheck {
        margin-top: 15px;
        margin-left: 5px;
    }

    .validationRDV {
        margin-left: 5px;
        font-size: 12px;
    }

    .emphasisRDV {
        margin-left: 5px;
        font-size: 12px;
        font-weight: bolder;
        color: var(--main-color-light-text);
    }

    @media only screen and (min-width: 391px) and (max-width: 719px) {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
        padding: 15px;
        margin: 20px;
        position: relative;

        .RDVAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 15px;
            font-size: 16px;
        }

        .checkDuo {
            display: flex;
            flex-direction: row;
        }

        .validationRDVCheck {
            margin-top: 5px;
            margin-left: 5px;
        }
    }

    @media screen and (min-width: 720px) and (max-width: 819px) {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
    
        .RDVAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }
    
        .CloseFolding {
            position: absolute;
            top :10px;
            font-size: 20px;
            font-weight: bolder;
            color : white;
            right: 10px;
        }
    
        .RDVAdminBloc{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: left;
        }
        
        .BlocHidden{
            display: none;
        }
    
        .titleRDV {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin: 10px;
        }
    
        .RDVList{
            list-style-type: none;
            margin-left: 20px;
        }
    
        .RDVDuo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin: 10px;
            padding: 4px;
            border: solid 2px rgba(255, 255, 255, 0.1);
            color: white;
        }
    
        .validationRDV {
            margin-left: 5px;
        }
    
        .emphasisRDV {
            margin-left: 5px;
            font-weight: bolder;
            color: var(--main-color-light-text);
        }

        .checkDuo {
            display: flex;
            flex-direction: row;
        }

        .validationRDVCheck {
            margin-top: 5px;
            margin-left: 5px;
        }
    }

    @media screen and (min-width: 820px) and (max-width: 1023px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
    
        .RDVAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }
    
        .CloseFolding {
            position: absolute;
            top :10px;
            font-size: 20px;
            font-weight: bolder;
            color : white;
            right: 10px;
        }
    
        .RDVAdminBloc{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: left;
        }
        
        .BlocHidden{
            display: none;
        }
    
        .titleRDV {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin: 10px;
        }
    
        .RDVList{
            list-style-type: none;
            margin-left: 30px;
        }
    
        .RDVDuo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin: 10px;
            padding: 4px;
            border: solid 2px rgba(255, 255, 255, 0.1);
            color: white;
        }
    
        .validationRDV {
            margin-left: 5px;
        }
    
        .emphasisRDV {
            margin-left: 5px;
            font-weight: bolder;
            color: var(--main-color-light-text);
        }

        .checkDuo {
            display: flex;
            flex-direction: row;
        }

        .validationRDVCheck {
            margin-top: 5px;
            margin-left: 5px;
        }   
    }

    @media screen and (min-width: 1024px) and (max-width: 1179px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
    
        .RDVAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }
    
        .CloseFolding {
            position: absolute;
            top :10px;
            font-size: 20px;
            font-weight: bolder;
            color : white;
            right: 10px;
        }
    
        .RDVAdminBloc{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
        
        .BlocHidden{
            display: none;
        }
    
        .titleRDV {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin: 10px;
        }
    
        .RDVList{
            list-style-type: none;
            margin-left: 0px;
        }
    
        .RDVDuo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin: 10px;
            padding: 4px;
            border: solid 2px rgba(255, 255, 255, 0.1);
            color: white;
        }
    
        .validationRDV {
            margin-left: 5px;
        }
    
        .emphasisRDV {
            margin-left: 5px;
            font-weight: bolder;
            color: var(--main-color-light-text);
        }

        .checkDuo {
            display: flex;
            flex-direction: row;
        }

        .validationRDVCheck {
            margin-top: 5px;
            margin-left: 5px;
        }   
    }

    @media screen and (min-width: 1180px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 30px;
        padding: 20px;
        background-color: var(--main-color-dark-background);
        color: var(--main-color-light-title);
        font-family: var(--text-font);
    
        .RDVAdminTitle{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }
    
        .CloseFolding {
            position: absolute;
            top :10px;
            font-size: 20px;
            font-weight: bolder;
            color : white;
            right: 10px;
        }
    
        .RDVAdminBloc{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
        
        .BlocHidden{
            display: none;
        }
    
        .titleRDV {
            width: 100%;
            margin-left: 0px;
            text-align: center;
            margin: 10px;
        }
    
        .RDVList{
            list-style-type: none;
            margin-left: 0px;
        }
    
        .RDVDuo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin: 10px;
            padding: 4px;
            border: solid 2px rgba(255, 255, 255, 0.1);
            color: white;
        }
    
        .validationRDV {
            margin-left: 5px;
        }
    
        .emphasisRDV {
            margin-left: 5px;
            font-weight: bolder;
            color: var(--main-color-light-text);
        }

        .checkDuo {
            display: flex;
            flex-direction: row;
        }

        .validationRDVCheck {
            margin-top: 5px;
            margin-left: 5px;
        } 
    }
}