.AdminCvs{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);

    .CvAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
    }
 
    .CvsAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
    
    .BlocHidden{
        display: none;
    }

    .CvsAdminTitle{
        margin-bottom: 5px;
    }

    .CvsAdminContainer{
        border: solid 1px rgba(255, 255, 255, 0.1);
    }

    .CvsAdminList{
        list-style-type: none;
        margin: 10px;
    }
    .CvsAdminItem{
        margin : 10px;
        width: 90px;
        height: auto;
        object-fit: contain;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .CvsAdminItem a {
        color: var(--main-color-light-text);
        text-decoration: none;
        width: 80px;
        height: auto;
    }

    .CvItemImg {
        max-width: 80px;
        height: auto;
        margin: 5px;
    }

    .CvItemName {
        color: white;
        font-size: 12px;
        text-align: center;
    }
}