.AdminCvs{
    border-style: solid;
    position: relative;
    border-color: black;
    border-width: 1px;
    width: 80%;
    margin: 25px auto;
    color: var(--main-color-light-text);
    background-color: var(--main-color-dark-background);

    h2{
        color: var(--main-color-light-text);
        font-family: var(--title-font);
        padding-left: 10px;
        padding-top: 10px;
        font-size: 16px;
    }

    .CloseFolding
    {
        position: absolute;
        top :10px;
        font-size: 30px;
        font-weight: bolder;
        color : gray;
        right: 10px;
    }
 
    .CvsAdminBloc{
        display: block;
    }
    
    .BlocHidden{
        display: none;
    }

    .CvsAdminTitle{
        margin-bottom: 5px;
    }

    .CvsAdminContainer{
        border: solid 1px black;
    }

    .CvsAdminList{
        list-style-type: none;
        margin-left: 10px;
    }
    .CvsAdminItem{
        margin : 10px;
    }
    .CvsAdminItem a {
        color: var(--main-color-light-text);
        text-decoration: none;
    }
}