.Splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(249, 181, 19, 0.85), rgba(249, 181, 19, 0.85)), url(../../assets/pictures/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg);
    background-size: cover;
    font-family: "Poppins";

    .logo{
        height: 200px;
    }

    .splashTitle{
        font-weight: 400;
    }

    .buttonContainer{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .button{
        background-color: var(--main-color-dark-background);
        color: var(--main-color-lighter-text);
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        height: 40px;
        font-family: "Poppins";
    }
}

.splashNone{
    display:none;
}