.CreateUser{
    width : 80%;
    color :var(--main-color-lighter-text);
    font-family: var(--title-font);
    font-size: 10px;
    background-color: var(--main-color-dark-background);
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;

    .globalContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .mainTitleCreate {
        font-size: 20px;
        font-weight: 600;
        color : var(--main-color-light-title);
        padding-top: 15px;
    }

    .mainTextCreate {
        font-size: 14px;
        margin: 20px;
    }

    .leftFields
    {
        display: flex;
        flex-direction: column;
        flex : 3;
    }

    .createUserInput{
        background-color:rgba(255, 255, 255, 0.4);
    }

    .innerLeftFields{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .labelLeft{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .innerRightFields{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .rightFields{
        display: flex;
        flex-direction: column;
        align-items: flex-start;     
        justify-content: center;
        padding-top: 20px;
    }

    .container{
        position : relative;
        display: block;
        margin-bottom: 10px;
    }

    .conditionsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .check-text {
        font-size: 12px;
    }

    .btnContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        margin: 10px ;
    }

    .btnCreate{
        width: 125px;
        color : var(--main-color-lighter-text);
        margin-bottom: 25px;
        background-color: var(--main-color-light-button);
        padding: 5px;
        cursor: pointer;
    }

    .wrongPass{
        background-color: red;
    }
    
    .ErrorDisplay{
        margin-top: 5px;
        padding-left: 10px;
        color : red;
    }
    
    @media only screen and (min-width: 391px) and (max-width: 768px) {
            width : 80%;
            color :var(--main-color-lighter-text);
            font-family: var(--title-font);
            font-size: 10px;
            background-color: var(--main-color-dark-background);
            margin-top: 10px;
            margin-bottom: 50px;
            text-align: center;
        
            .globalContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .mainTitleCreate {
                font-size: 20px;
                font-weight: 600;
                color : var(--main-color-light-title);
                padding-top: 15px;
            }
        
            .mainTextCreate {
                font-size: 14px;
                margin: 20px;
            }
        
            .leftFields
            {
                display: flex;
                flex-direction: column;
                flex : 3;
            }
        
            .createUserInput{
                background-color:rgba(255, 255, 255, 0.4);
            }
        
            p {
                margin-bottom: 15px;
            }
        
            .innerLeftFields{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        
            .labelLeft{
                font-size: 14px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        
            .innerRightFields{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        
            .innerRightFields p,.innerLeftFields p{
                margin : 10px 0px;
            }
        
            .rightFields{
                display: flex;
                flex-direction: column;
                align-items: flex-start;     
                justify-content: center;
                padding-top: 20px;
            }
        
            .container{
                position : relative;
                display: block;
                margin-bottom: 10px;
            }
        
            .conditionsContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        
            .check-text {
                font-size: 12px;
            }
        
            .btnContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                margin: 10px ;
            }
        
            .btnCreate{
                width: 125px;
                color : var(--main-color-lighter-text);
                margin-bottom: 25px;
                background-color: var(--main-color-light-button);
                padding: 5px;
            }
        
            .wrongPass{
                background-color: red;
            }
            
            .ErrorDisplay{
                margin-top: 5px;
                padding-left: 10px;
                color : red;
            }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 30px;
        width: 90%;
        .globalContainer{
            flex-direction: row;
        }
        .leftFields{
            flex-direction: row;
            justify-content: space-around;
            margin: 0px;
        }
        .innerLeftFields{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 0px;
            margin-right: 20px;
        }
        .innerRightFields{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 0px;
            margin-right: 20px;
        }
        .rightFields{
            display: flex;
            flex-direction: column;
            align-items: flex-start;     
            justify-content: left;
            padding-top: 0px;
            padding-bottom: 40px;
        }     
    }

    @media screen and (min-width: 1025px)  {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 75%;
        .globalContainer{
            flex-direction: row;
            justify-content: space-around;
        }
        .mainTitleCreate {
            font-size: 20px;
            font-weight: 600;
            color : var(--main-color-light-title);
            padding-top: 20px;
        }
        .leftFields{
            width: 66%;
            flex-direction: row;
            margin: 0px;
        }
        .innerLeftFields{
            width: 50%;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 0px;
            margin-right: 0px;
        }
        .innerRightFields{
            width: 50%;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 0px;
            margin-right: 0px;
        }
        .rightFields{
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;     
            justify-content: left;
            margin-right: 0px;
            padding-top: 0px;
            padding-bottom: 40px;
        }
        .checkbox-duo {
            padding-left: 50px;
            margin-top: 10px;
        }
        .check-text {            
            font-size: 14px;
        }
    
    }
}
