.NavBar {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-light-background);
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Titillium Web', sans-serif;
}

.left-container{
    display: flex;
    height: 100%;
    width: 65%;
    align-items: center;
}

.right-container {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.connected-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.link-container {
    display: flex;
}

.logo-container {
    height: 61%; 
    margin-left: 21px;
    margin-right: 21px;
}

.Header-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.navigation-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--main-color-navbar-link);
    font-size: 20px;
    font-weight: 400;
}

.selected {
    position : relative;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--main-color-navbar-link);
    font-size: 20px;
    font-weight: 400;
}

.selected::after {
    position: absolute; 
    content: '';
    background-color: var(--main-color-dark-background);
    text-decoration: none;
    color: var(--main-color-navbar-link);
    height: 10px;
    width: 100%;
    bottom: -85%;
    left: 0px;
} 

.login-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--main-color-dark-background);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color-lighter-text);
}

.login-link {
    color: var(--main-color-lighter-text);
    text-decoration: none;
}

.logout-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--main-color-dark-background);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color-lighter-text);
}

@media screen and (max-width: 375px) {
    .NavBar {
        height: 48px;
        width: 100%;
    }
    .left-container{
        display: flex;
        height: 100%;
        width: 0%;
        align-items: center;
    } 
    .right-container {
        border-left: solid 1px white;
        padding-left: 2px;
        width: 37%;
    }
    .logo-container {
        width: 0%;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        visibility: hidden;
    }
    .logo-link {
        width: 0%;
        visibility: hidden;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        visibility: hidden;
    }
    .navigation-link {
        height: 90%;
        margin-left: 6px;
        margin-right: 0px;
        font-size: 10px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 10px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -16px;
        left: 0px;
    }
    .login-button {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 10px;
    }
    .logout-button {
        height: 100%;
        width: 52%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        padding-left: 4px;
        font-size: 10px;
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
    .NavBar {
        height: 48px;
        width: 100%;
    }
    .left-container{
        display: flex;
        height: 100%;
        width: 80%;
        align-items: center;
    } 
    .logo-container {
        width: 30%;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 6px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
    .navigation-link {
        height: 90%;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 9px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 9px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -17px;
        left: 0px;
    }
    .login-button {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 9px;
    }
    .logout-button {
        height: 100%;
        width: 52%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-right: 4px;
        padding-left: 4px;
        font-size: 9px;
    }
}

@media screen and (min-width: 415px) and (max-width: 539px) {
    .NavBar {
        height: 48px;
        width: 100%;
    }
    .left-container{
        display: flex;
        height: 100%;
        width: 78%;
        align-items: center;
    } 
    .logo-container {
        width: 28%;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 6px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
    .navigation-link {
        height: 90%;
        margin: 5px;
        font-size: 12px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -14px;
        left: 0px;
    }
    .login-button {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 12px;
    }
    .logout-button {
        height: 100%;
        width: 51%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-right: 1px;
        padding-left: 3px;
        font-size: 12px;
    }
}

@media screen and (min-width: 540px) and (max-width: 619px) {
    .NavBar {
        height: 66px;
    }

    .left-container{
        display: flex;
        height: 100%;
        width: 65%;
        align-items: center;
    }
    .right-container {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    .logo-container {
        width: 87px;
        height: auto;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
    }

    .navigation-link {
        height: 90%;
        margin: 5px;
        font-size: 12px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -22px;
        left: 0px;
    }

    .connected-container {
        width: 180px;
    }

    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
    }
    .logout-button {
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
    }

}

@media screen and (min-width: 620px) and (max-width: 679px) {
    .NavBar {
        height: 66px;
    }

    .logo-container {
        width: 92px;
        height: auto;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
    }

    .navigation-link {
        height: 90%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -21px;
        left: 0px;
    }

    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
    }
    .logout-button {
        height: 100%;
        width: 38%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
    }
}

@media screen and (min-width: 680px) and (max-width: 720px) {
    .NavBar {
        height: 66px;
    }

    .logo-container {
        width: 92px;
        height: auto;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-left: 5px;
    }

    .navigation-link {
        height: 90%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
    .selected {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -21px;
        left: 0px;
    }

    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    .logout-button {
        height: 100%;
        width: 38%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 14px;
    }

}

@media screen and (min-width: 721px) and (max-width: 767px) {
    .NavBar {
        height: 66px;
    }

    .left-container{
        height: auto;
        width: 62%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }
    .right-container {
        height: 100%;
        width: 38%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    .logo-container {
        width: 35%;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 6px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-left: 5px;
    }

    .navigation-link {
        height: 90%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
    .selected {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 14px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -21px;
        left: 0px;
    }

    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    .logout-button {
        height: 100%;
        width: 42%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 821px) {
    .NavBar {
        height: 66px;
    }

    .left-container{
        max-height: 100%;
        width: 62%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }
    .right-container {
        height: 100%;
        width: 38%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    .logo-container {
        width: 30%;
        max-height: 100%;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 6px;
    }
    .logo-link {
        width: 100%;
        height: 100%;
    }
    .Header-logo {
        height: auto;
        width: 62%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .navigation-link {
        height: 90%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
    .selected {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 14px;
        font-weight: 400;
    }
    .selected::after {
        height: 7px;
        width: 100%;
        bottom: -22px;
        left: 0px;
    }

    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    .logout-button {
        height: 100%;
        width: 42%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 14px;
    }
}

@media screen and (min-width: 822px) and (max-width: 1024px) {
    .NavBar {
        height: 86px;
    }
    .logo-container {
        height: 61%; 
        margin-left: 14px;
    }
    .left-container{
        display: flex;
        height: 100%;
        width: 60%;
        align-items: center;
    }
    .right-container {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }
    .connected-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }
    .navigation-link {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 16px;
    }
    .selected {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 16px;
    }
    .selected::after {
        height: 10px;
        width: 100%;
        bottom: -30px;
        left: 0px;
    }
    .login-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }
    .logout-button {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        padding-right: 7px;
        padding-left: 7px;
        font-size: 16px;
    }
}