.NavBar {
    height: 106px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-light-background);
}

.logo-container {
    height: 71%; 
    margin-left: 31px;
}

.Header-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.navigation-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--main-color-navbar-link);
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.selected {
    position : relative;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--main-color-navbar-link);
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.selected::after {
    position: absolute; 
    content: '';
    background-color: var(--main-color-dark-background);
    text-decoration: none;
    color: var(--main-color-navbar-link);
    height: 20px;
    width: 100%;
    bottom: -34px;
    left: 0px;
}

.login-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--main-color-dark-background);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--main-color-lighter-text);
}