.AdviceCard {
    width: 100%;
    font-family: 'Poppins';
    margin: 20px;
}

.h3-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    text-align:center;
    margin-bottom: 20px;
    word-break: break-word;
}

.taskList {
    list-style-type: '_ ';
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-left: 55px;
    padding-bottom: 20px;
}

.dots-paragraph {
    margin-left: 37px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.adviceCardLink {
    text-decoration: none;
}

@media screen and (max-width: 390px) {
    .AdviceCard{
        width : 80vw;
        /* height: 500px; */
        /* min-height: 30vh; */
        /* margin-bottom: 40px ; */
        margin: auto;
        }
    .h3-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px 15px 0 20px;
    }

    .taskList {
        font-size: 15px;
        line-height: 20px;
    }
    .dots-paragraph {
        margin-top: 0;
        margin-left: 45px;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .AdviceCard{
        width : max-content;
        min-width: 70vw;
        min-height: 25vh;
        max-width: 50vw;
        height: max-content;
        margin-bottom: 20px;
    }

    .h3-title {
        margin: 15px 20px 10px 20px;
    }

    .taskList {
        font-size: 20px;
        line-height: 40px;
    }
    .dots-paragraph {
        margin-top: 5px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .AdviceCard{
        width : 30vw;
        height: 25vh;
    }
    
    .h3-title {
        font-weight: 600;
        font-size: 18px;
        margin: 15px 0 0 20px;
        line-height: 30px;
    }

    .taskList {
        font-size: 15px;
        line-height: 30px;
    }
    .dots-paragraph {
        margin-top: 0;
        margin-left: 45px;
    }
}



