.AdviceCard {
    display: flex;
    flex-direction: row;
    width: 330px;
    height: 350px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    margin: 20px;
}

.h3-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin: 30px 40px 30px 40px ;
}

.taskList {
    list-style-type: '_';
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-left: 55px;
}

.dots-paragraph {
    margin-left: 40px;
    margin-top: 10px;
}

@media screen and (max-width: 390px) {
    .AdviceCard{
        width : 80vw;
        height: max-content;
        min-height: 30vh;
        margin-bottom: 40px ;
        }
    .h3-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px 15px 0 20px;
    }

    .taskList {
        font-size: 15px;
        line-height: 30px;
    }
    .dots-paragraph {
        margin-top: 0;
        margin-left: 45px;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .AdviceCard{
        width : max-content;
        min-width: 70vw;
        min-height: 25vh;
        max-width: 50vw;
        height: max-content;
        margin-bottom: 20px;
    }

    .h3-title {
        margin: 15px 20px 10px 20px;
    }

    .taskList {
        font-size: 20px;
        line-height: 40px;
    }
    .dots-paragraph {
        margin-top: 5px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .AdviceCard{
        width : 30vw;
        height: 25vh;
    }
    
    .h3-title {
        font-weight: 600;
        font-size: 18px;
        margin: 15px 0 0 20px;
        line-height: 30px;
    }

    .taskList {
        font-size: 15px;
        line-height: 30px;
    }
    .dots-paragraph {
        margin-top: 0;
        margin-left: 45px;
    }
}



