//Desktop format below

.EventCategoryAdmin{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);

    .EventCategoryAdminTitle{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .CloseFolding {
        position: absolute;
        top :10px;
        font-size: 20px;
        font-weight: bolder;
        color : white;
        right: 10px;
    }
 
    .EventCategoryAdminBloc{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
    
    .BlocHidden{
        display: none;
    }

    .EventCategoryAdminTitle{
        margin-bottom: 5px;
    }

    .EventCategoryAdminAddTitle{
        margin-left: 7px;
    }

    .EventCategoryAdminAdd{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .ExistingCategory {
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .ExistingCategoryTitle {
        margin: 10px;
        text-align: center;
    }

    .CreateCategory {
        width: 40%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .CreateCategoryTitle {
        margin: 10px;
        text-align: center;
    }

    .duoCategory {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .labelCategory{
        margin: 10px;
    }

    .EventCategoryAdminAddBtn{
        margin: 10px;
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 5px;
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
}