.JobOfferContainer{
    background : var(--main-color-light-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins';
    color: var(--main-color-dark-title);
    padding: 15px 25px 30px 25px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    
    .JobSelectors{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .selector{
        margin-left: 10px;
    }
}