.JobOfferContainer{

    .JobSelectors{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .selector{
        margin-left: 10px;
    }
}