.CandidateDoc {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark-background);
    color: var(--main-color-light-title);
    font-family: var(--text-font);
    padding: 20px;
    margin: 30px;
}

.titleDoc {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.detailDoc {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.myDoc {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleMyDoc {
    width: 200px;
    flex-wrap: wrap;
    margin-left: 0px;
    text-align: center;
}

.newDoc {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.titleNewDoc {
    width: 200px;
    flex-wrap: wrap;
    margin-left: 0px;
    text-align: center;
}

