.CreateAppt {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.typeAppt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dateAppt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelAppt {
    width: 180px;
    flex-wrap: wrap;
    margin-right: 20px;
}

.deleteAppt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.deleteApptButton {
    margin: 10px;
    margin-bottom: 20px;
    width: 180px; 
    height: 40px;
}