/*Desktop ok, mobile until 767 ok */

.CreateAppt {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typeAppt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dateAppt {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labelAppt {
    width: 100px;
    flex-wrap: wrap;
    margin-right: 5px;
    font-size: 12px
}

.createApptInput {
    width: 150px;
}

.dateInputAppt {
    width: 150px;
}

.deleteAppt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.deleteApptButton {
    margin: 10px;
    background-color: var(--main-color-light-title);
    color: var(--main-color-dark-background);
    border: solid 1px var(--main-color-light-title);
    border-radius: 2px;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
}

@media only screen and (min-width: 391px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {
    .CreateAppt {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
    
    .typeAppt {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .dateAppt {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .labelAppt {
        width: 180px;
        flex-wrap: wrap;
        margin-right: 20px;
        font-size: 16px;
    }
    
    .deleteAppt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .deleteApptButton {
        margin: 10px;
        background-color: var(--main-color-light-title);
        color: var(--main-color-dark-background);
        border: solid 1px var(--main-color-light-title);
        border-radius: 2px;
        padding: 5px;
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
}