.ShowCV {
    width:100%;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.suppressCV {
    width: 180px;
    height: 40px;
    background-color: var(--main-color-light-button);
    color: var(--main-color-dark-text);
    margin-top: 20px;
}