.connection-form {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark-background);
    font-family: var(--text-font);
}

.btn-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.active-btn {
    background-color: var(--main-color-light-button);
    color: var(--main-color-lighter-text);
    width: 130px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin: 10px;
    margin-left: 35px;
    margin-right: 35px;
}

.off-btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--main-color-light-title);
    width: 130px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin: 10px;
    margin-left: 35px;
    margin-right: 35px;
}

@media screen and (max-width: 390px) {
    .connection-form {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .btn-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (min-width: 391px) and (max-width: 767px) {
    .connection-form {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .btn-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    .active-btn {
        width: 180px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .off-btn {
        width: 180px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}