.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.sign-up-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.sign-up-email {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.firstname {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.lastname {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.passwords {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.first-password {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.second-password {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
}

.label {
    color: var(--main-color-light-text);
    font-family: var(--title-font);
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-classic {
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 10px;
}

.input-bigger-up {
    width: 420px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 10px;
    margin-bottom: 20px;
}

.checkbox-duo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.checkbox-box {
    background-color: rgba(255, 255, 255, 0.2);
}

.check-text {
    color: var(--main-color-lighter-text);
    font-size: 14px;
    margin: 10px;
}

.general-conditions {
    color: rgba(255, 255, 255, 0.2);
}

.signUp-btn {
    background-color: var(--main-color-light-background);
    color: var(--main-color-dark-button);
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 390px) {
    .input-bigger-up {
        width: 250px;
        height: 25px;
        margin: 10px;
    }

    .sign-up-name {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }

    .label {
        color: var(--main-color-light-text);
        font-family: var(--title-font);
        font-size: 12px;
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .input-bigger-up {
        width: 200px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        margin: 10px;
        margin-bottom: 10px;
    }

    .passwords {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}