/* .businessCard-container {
    background : var(--main-color-light-background);
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 80px;

}

.businessCard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--main-color-dark-title);
    color: var(--main-color-dark-title);
    font-family: 'Poppins';
    padding: 15px 25px 30px 25px;
    margin-bottom: 20px;

}

.chevron-icon {
    width: 40px;   
}
 */
